/* style.css */
body {
    background: rgb(240, 240 , 240);
    /*background-image: url(../landing/images/furniture.jpg);*/
    color: rgb(82, 82, 82);
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Kaisei HarunoUmi', serif;
    ;
}

header {
    background-color: rgb(50, 50, 50);
    text-align: center;
    /*
    position: fixed;    >>> So that header will remain while scroll down...But some width/height customisation is needed first...
    */
}
header h1{
    font-family: helvetica;
    color: rgba(240, 240, 240, 0.9);
}
header p{
    font-family: arial;
    color: gold;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(97, 160, 175);
    font-size: 50px;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(97, 160, 175);
    font-size: 25px;
}

a {
    text-decoration: none;
    color: rgb(180, 180, 180);
}

a:hover {
    text-decoration: none;
    color: black;
}

nav {}

/* Empty section selectors for further customisation*/
nav li {
    display: inline-block;
   /* 
    text-align: left;
    position: relative;     [!ISSUE] Why the f*** can't I have those link stick to the left? [!ISSUE]
    left: 0px; 
    */
}
main{}
section{}
article{}
footer{}

/*custom design*/

.desk_card {
    text-align: center;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(97, 160, 175);
    font-size: 25px;
    background-color: rgb(50, 50, 50);
    display: inline-block;
    
}


.desk_img {
    width: 300px;
    height: auto;
    padding: 30px;
}

.screenshot {
    width: 1200px;
    height: auto;
    padding: 10px;
}